<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customers">
      <h2 data-cy="customersDetailsHeading"><span>Customers</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customers.id }}</span>
        </dd>
        <dt><span>Full Name</span></dt>
        <dd>
          <span>{{ customers.fullName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ customers.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ customers.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/testchanges/customers', customers.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
