<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productDetails">
      <h2 data-cy="productDetailsDetailsHeading"><span>Product Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ productDetails.id }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ productDetails.description }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ productDetails.imageUrl }}</span>
        </dd>
        <dt><span>Isavailable</span></dt>
        <dd>
          <span>{{ productDetails.isavailable }}</span>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="productDetails.product">
            <a [routerLink]="['/products', productDetails.product.id, 'view']">{{ productDetails.product.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/testchanges/product-details', productDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
