<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderDetails">
      <h2 data-cy="orderDetailsDetailsHeading"><span>Order Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ orderDetails.id }}</span>
        </dd>
        <dt><span>Quantity</span></dt>
        <dd>
          <span>{{ orderDetails.quantity }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ orderDetails.amount }}</span>
        </dd>
        <dt><span>Order</span></dt>
        <dd>
          <div *ngIf="orderDetails.order">
            <a [routerLink]="['/orders', orderDetails.order.id, 'view']">{{ orderDetails.order.id }}</a>
          </div>
        </dd>
        <dt><span>Product</span></dt>
        <dd>
          <div *ngIf="orderDetails.product">
            <a [routerLink]="['/products', orderDetails.product.id, 'view']">{{ orderDetails.product.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/testchanges/order-details', orderDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
